<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../assets/bootstrap-5/css/bootstrap.min.css">
    <link rel="stylesheet" href="./../assets/css/style.css">
    <script src="./../assets/bootstrap-5/js/bootstrap.min.js"></script>
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="d-flex flex-column justify-content-center align-item-center" style="height:50em;">
            <div class="justify-content-center align-self-center">
                <div class="text-center">
                    <img src="./../assets/img/profil.png" alt="Login" class="login-image">
                    <h2 class="text-center my-4">LOGIN PAGE</h2>
                </div>
                <form action="" method="post">
                    <div class="mb-2">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" class="form-control" id="username" name="username" aria-describedby="usernameHelp">
                        <div id="usernameHelp" class="form-text">Username Help</div>
                    </div>
                    <div class="mb-2">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password" name="password">
                    </div>
                    <div class="mb-2">
                        <input type="checkbox" class="form-check-input" id="keepsign" name="keepsign">
                        <label for="keepsign" class="form-check-label">keepsign</label>
                    </div>
                    <div class="mb-2 d-grid gap-2">
                        <button type="submit" class="btn btn-success">Login</button>
                        <div class="form-text">don't have account? <a href="./register.html">Register</a></div>
                    </div>

                    <div class="text-center mt-4">
                        <div class="form-text fs-7">
                            @cielhub 2021
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>