<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../assets/css/nav-portfolio.css">
    <link rel="stylesheet" href="./../assets/css/portfolio.css">
    <link rel="stylesheet" href="./../assets/fonts/fontawesome-5.15.3-web/css/all.css">
    <title>Home</title>
</head>
<body>
    <!-- NAVBAR -->
    <nav class="nav-container">
        <ul class="nav-container-item">
            <li class="nav-item">
                <a class="nav-link" href="./portofolio-main.html">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="./portfolio-about.html">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="./portfolio-projects.html">Projects</a>
            </li>
        </ul>
    </nav>
<!-- NAVBAR END -->

    <!-- CONTENT -->
    <div class="container">
        <div class="img-container">
            <img class="profile-main-img" src="./../assets/img/image-Cloudy.jpg" alt="Gambar Profil">
        </div>
        <p class="cloudy-text">I'm Cloudy</p>
        <p class="student-text">STUDENT || WEB DEVELOPER</p>

        <div class="btn-container">
            <button class="btn-1">
                <a class="btn-link-1" href="./portfolio-about.html">KNOW ME</a>
            </button>
            <button class="btn-2">
                <a class="btn-link-2" href="./portfolio-projects.html">SEE MY PROJECTS</a>
            </button>
        </div>

        <div class="sosmed-icons">
            <a href="https://api.whatsapp.com/send?phone=6281369622964" class="icon-link">
                <i class="fab fa-whatsapp"></i>
            </a>
            <a href="https://www.linkedin.com/in/cloudias-imani-pradana-971b05204/" class="icon-link">
                <i class="fab fa-linkedin"></i>
            </a>
            <a href="https://www.facebook.com/cloudiasimani/" class="icon-link">
                <i class="fab fa-facebook"></i>
            </a>
            <a href="https://www.instagram.com/cloudiasimani/" class="icon-link">
                <i class="fab fa-instagram-square"></i>
            </a>
            <a href="mailto:danapradana30@gmail.com" class="icon-link">
                <i class="fas fa-envelope"></i>
            </a>

        </div>

    </div>

    <script src="./../assets/js/portfolio.js"></script>
</body>
</html>