<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../assets/css/nav-portfolio.css">
    <link rel="stylesheet" href="./../assets/css/projects.css">
    <title>My Projects</title>
</head>
<body>
    <!-- NAVBAR -->
    <nav class="nav-container">
        <ul class="nav-container-item">
            <li class="nav-item">
                <a class="nav-link" href="./../portofolio-main.html">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="./portfolio-about.html">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="./portfolio-projects.html">Projects</a>
            </li>
        </ul>
    </nav>
    <!-- NAVBAR END -->

    <!-- CONTENT -->
    <h1 class="title-page">MY PROJECTS LIST</h1>
    <div class="container-list">
        <div class="card">
            <div class="image-card">
                <img src="./../assets/img/node-js.jpg" alt="projects Image">
            </div>
            <p class="card-title">
                Simple Classroom
            </p>
            <div class="card-desc">
                <p class="project-technology">
                    Technology: Node JS, Express, MongoDB, Bootstrap 5
                </p>
                <p class="project-desc">
                    Simple Classroom app that can Input class and Input Student
                </p>
            </div>
            <button class="btn-card">
                <a href="https://simple-class.herokuapp.com/" class="btn-card-link">Visit</a>
            </button>
        </div>

        <div class="card">
            <div class="image-card">
                <img src="./../assets/img/html-css-js.jpg" alt="projects Image">
            </div>
            <p class="card-title">
                Stopwatch
            </p>
            <div class="card-desc">
                <p class="project-technology">
                    Technology: HTML,CSS,Javascript,Bootstrap 5
                </p>
                <p class="project-desc">
                    Simple Stopwatch App
                </p>
            </div>
            <button class="btn-card">
                <a href="./stopwatch.html" class="btn-card-link">Visit</a>
            </button>
        </div>

        <div class="card">
            <div class="image-card">
                <img src="./../assets/img/html-css-js.jpg" alt="projects Image">
            </div>
            <p class="card-title">
                Timer
            </p>
            <div class="card-desc">
                <p class="project-technology">
                    Technology: HTML,CSS,Javascript,Bootstrap 5
                </p>
                <p class="project-desc">
                    Simple Simple Timer App
                </p>
            </div>
            <button class="btn-card">
                <a href="./timer.html" class="btn-card-link">Visit</a>
            </button>
        </div>

        

    </div>
    <!-- Content END -->

    <footer>
        Cloudias &copy;2021
    </footer>


    <script src="./../assets/js/projects.js"></script>
</body>
</html>