<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../assets/css/nav-portfolio.css">
    <link rel="stylesheet" href="./../assets/fonts/fontawesome-5.15.3-web/css/all.css">
    <link rel="stylesheet" href="./../assets/css/about.css">
    <title>About Me| Cloudias</title>
</head>
<body>
    <!-- NAVBAR -->
    <nav class="nav-container">
        <ul class="nav-container-item">
            <li class="nav-item">
                <a class="nav-link" href="./portofolio-main.html">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="./portfolio-about.html">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="./portfolio-projects.html">Projects</a>
            </li>
        </ul>
    </nav>
    <!-- NAVBAR END -->

    <div class="container">
        <section class="sebelah-kiri">
            <div class="img-about">
                <img src="./../assets/img/image-Cloudy.jpg" alt="Foto Profil">
            </div>

            <h1 class="name-sm">CLOUDIAS IMANI PRADANA</h1>
            <hr class="garis-sm">
            <h2 class="profession-sm">STUDENT || WEB DEVELOPER</h2>

            <h3 class="subtitle-kiri">CONTACTS</h3>
            <div class="grup-contacts">
                <div class="contact-item">
                    <div class="icon">
                        <i class="fas fa-map-marker-alt"></i>
                    </div>
                    <p class="contact-text">
                        Kediri, East Java, Indonesia-64516
                    </p>
                </div>
                <div class="contact-item">
                    <div class="icon">
                        <i class="fab fa-whatsapp"></i>
                    </div>
                    <a href="https://api.whatsapp.com/send?phone=6281369622964" class="contact-link">
                        +62813-6962-2964
                    </a>
                </div>
                <div class="contact-item">
                    <div class="icon">
                        <i class="fab fa-linkedin"></i>
                    </div>
                    <a class="contact-link" href="https://www.linkedin.com/in/cloudias-imani-pradana-971b05204/">
                        linkedin/Cloudias-Imani-Pradana
                    </a>
                </div>
                <div class="contact-item">
                    <div class="icon">
                        <i class="fab fa-facebook"></i>
                    </div>
                    <a href="https://www.facebook.com/cloudiasimani/" class="contact-link">
                        facebook.com/cloudiasimani/
                    </a>
                </div>
                <div class="contact-item">
                    <div class="icon">
                        <i class="fab fa-instagram-square"></i>
                    </div>
                    <a href="https://www.instagram.com/cloudiasimani/" class="contact-link">
                        @cloudiasimani
                    </a>
                </div>
                <div class="contact-item">
                    <div class="icon">
                        <i class="fas fa-envelope"></i>
                    </div>
                    <a href="mailto:danapradana30@gmail.com" class="contact-link">
                        danapradana30@gmail.com
                    </a>
                </div>
            </div>
            <h3 class="subtitle-kiri">ABOUT ME</h3>
            <p class="about-desc">
                I am Student of Biomedical Engineering in Sepuluh Nopember Institute Of Technology (ITS) Surabaya, Indonesia. <br> 1 years study and doing some web app projects, they are my personal Project. <br> I want to gain more experience through freelancing in web developer. if you want to ask me make some web app or static website please call me. Thank you
            </p>

            <footer>
                Cloudias &copy;2021
            </footer>
        </section>
        <section class="sebelah-kanan">
            <h1 class="name">CLOUDIAS IMANI PRADANA</h1>
            <hr>
            <h2 class="profession">STUDENT || WEB DEVELOPER</h2>
            <h3 class="subtitle-kanan">
                EDUCATION
            </h3>
            <ul class="education">
                <li class="education-item">
                    <p class="education-text">
                        Sepuluh Nopember Institute Of Technology (ITS) -> 2018-Now
                    </p>
                    <a href="https://www.its.ac.id" class="education-link">
                        https://www.its.ac.id
                    </a>
                </li>
                <li class="education-item">
                    <p class="education-text">
                        Basic Javascript -> dicoding.com (Online)
                    </p>
                    <a href="https://www.dicoding.com/certificates/JLX11Y70NX72" class="education-link">
                        https://www.dicoding.com/certificates/JLX11Y70NX72
                    </a>
                </li>
                <li class="education-item">
                    <p class="education-text">
                        Basic Backend Web App -> dicoding.com (Online)
                    </p>
                    <a href="https://www.dicoding.com/certificates/EYX4RN236XDL" class="education-link">
                        https://www.dicoding.com/certificates/EYX4RN236XDL
                    </a>
                </li>
            </ul>
            <h3 class="subtitle-kanan">
                SKILLS & TOOLS
            </h3>
            <div class="skill-container">
                <ul class="skill">
                    <li class="skill-item">Javascript</li>
                    <li class="skill-item">Node Js</li>
                    <li class="skill-item">HTML</li>
                </ul>
                <ul class="skill">
                    <li class="skill-item">CSS</li>
                    <li class="skill-item">PHP</li>
                    <li class="skill-item">Python</li>
                </ul>
                <ul class="skill">
                    <li class="skill-item">Pascal (delphi)</li>
                    <li class="skill-item">MySQL</li>
                    <li class="skill-item">MongoDB</li>
                </ul>
            </div>

            <h3 class="subtitle-kanan">
                RECENT PROJECTS -> <a class="subtitle-kanan-link" href="./portfolio-projects.html">
                    Click this for full list
                </a>
            </h3>
            <ul class="recent-project">
                <li class="recent-project-item">
                    <h4 class="project-title">
                        Simple Classroom -> <a class="project-title-link" href="https://simple-class.herokuapp.com/">http://simple-class.herokuapp.com/</a>
                    </h4>
                    <p class="project-technology">
                        Technology: Node JS, Express, MongoDB, Bootstrap 5
                    </p>
                    <p class="project-desc">
                        Simple Classroom app that can Input class and Input Student
                    </p>
                </li>
                <li class="recent-project-item">
                    <h4 class="project-title">
                        Stopwatch -> <a class="project-title-link" href="./stopwatch.html">https://cloumus30.github.io/stopwatch/stopwatch.html</a>
                    </h4>
                    <p class="project-technology">
                        Technology: HTML,CSS,Javascript,Bootstrap 5
                    </p>
                    <p class="project-desc">
                        Simple Stopwatch App
                    </p>
                </li>
                <li class="recent-project-item">
                    <h4 class="project-title">
                        Timer -> <a class="project-title-link" href="./timer.html">https://cloumus30.github.io/timer/main.html</a>
                    </h4>
                    <p class="project-technology">
                        Technology: HTML,CSS,Javascript,Bootstrap 5
                    </p>
                    <p class="project-desc">
                        Simple Simple Timer App
                    </p>
                </li>
            </ul>
        </section>
    </div>
</body>
</html>