.title-page,.card-title,.card-desc{
    font-family: Roboto;
}
body{
    background-color: #EDE4F9;
}
.title-page{
    font-size: 36px;
    text-align: center;
    margin:59px 0 59px 0;
    font-weight: bolder;
    opacity: 0;
}
.container-list{
    font-family: Roboto;
    display: flex;
    /* margin: 0 96px 0 9px; */
    /* margin-left: 96px; */
    flex-wrap: wrap;
}
.card{
    flex-basis: 288px;
    height: 380px;
    background-color: white;
    text-align: center;
    margin: 0 70px 70px 70px;
    opacity: 0;
}
.image-card{
    text-align: center;
}
.image-card img{
    width: 100px;
    height: 96px;
    border-radius: 50%;
    margin-bottom: 23px;
    margin-top: 18px;
}
.card-title{
    font-size:30px;
    text-align: center;
    margin-bottom: 35px;
    font-weight: bolder;
}
.card-desc{
    margin-bottom: 16px;
}
.project-technology,.project-desc{
    font-size:15px;
    text-align: left;
    margin:0 25px 5px 25px;
}
.btn-card{
    width: 110px;
    height: 35px;
    background-color: #00A6A6;
    border-radius: 38px;
    margin-bottom:20px;
    margin-top: 10px;
}
.btn-card:hover{
    cursor: pointer;
    background-color: tomato;
}
.btn-card-link{
    text-decoration: none;
    color: white;
}

footer{
    text-align: center;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    height: 25px;
    background-color: #7371FC;
    color: white;
}

.animate-fade{
    animation:fade 1.5s forwards;
}
@keyframes fade{
    0%{
        opacity: 0;
        transform: translate(0,-100px);
    }
    100%{
        opacity: 100%;
        transform: translate(0,0);
    }
}

/* Tablet User */
@media screen and (max-width:992px){
    .title-page{
        margin:20px 0 50px 0;
    }
    .container-list{
        justify-content: space-between;
    }
    .card{
        height: 380px;
        margin: 0 5vw 50px 5vw;
    }
    .card-title{
        font-size:25px;
        margin-bottom: 15px;
    }
    .card-desc{
        margin-bottom: 26px;
    }
    .project-technology,.project-desc{
        font-size:15px;
    }
    
    footer{
        font-size: 15px;
        height: 25px;
    }
}

/* SmartPhone User */
@media screen and (max-width:767px){
    .title-page{
        font-size: 25px;
        margin:20px 0 30px 0;
    }
    .container-list{
        justify-content: space-evenly;
    }
    .card{
        height: 380px;
        margin: 0 50px 30px 50px;
    }
    .image-card img{
        width: 86px;
        height: 86px;
        border-radius: 50%;
        margin-bottom: 33px;
        margin-top: 18px;
    }
    .card-title{
        font-size:20px;
        margin-bottom: 15px;
    }
    .card-desc{
        margin-bottom: 26px;
    }
    .project-technology,.project-desc{
        font-size:13px;
    }
    
    footer{
        font-size: 10px;
        height: 15px;
    }
}